body {
  width: 660px;
  margin: 0 auto;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.pitcam {
  width: 640px;
  margin: 0 auto;
}

.bar {
  height: 3px;
  width: 1%;
  background-color: #ffa638;
}

#page-footer {
  text-align: center;
}
